<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Employee Information </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  <style>
    .error{
      color:red;
      font-weight: bold;
      font-size: 18px;
  }
  
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>


</head>
<body>
<header style="height: 30px;background-color: maroon;">
</header>
<div class="container">
  <h3>Enter Employee Personal Information</h3>
  
   <img src="https://t3.ftcdn.net/jpg/02/49/05/82/360_F_249058233_0MIaTy9WXtKHF0eacUSg9c3hkV9ehIbX.jpg"/>
  <div style="width: 70%">
  
<span th:utext="${message}" style="color: blue;font-size: 18px;font-weight: bold;"></span>
  </div>
   <form id="EmployeeInfoForm" th:action="@{/admin/employee/info}" method="POST"  th:object="${employeeVO}" >
  	
  	<input type= "hidden" th:field= "*{cid}">
  
    <div class="form-group">
      <label for="firstname">FirstName: *</label>
      <input  type="text" style="width: 40%;" class="form-control" id="name"   th:field="*{firstname}" placeholder="Enter FirstName">
    </div>
    
     <div class="form-group">
      <label for="lastname">LastName: *</label>
      <input  type="text" style="width: 40%;" class="form-control" id="lastname"   th:field="*{lastname}" placeholder="Enter LastName">
    </div>
  
   <div class="form-group">
      <label for="address">Address: *</label>
      <input  type="text" style="width: 40%;" class="form-control" id="address"   th:field="*{address}" placeholder="Enter Address">
    </div>
 
    <div class="form-group">
      <label for="contactnumber" >ContactNumber: *</label>
      <input type="text" style="width: 60%;" th:field="*{contactnumber}"  class="form-control" id="contactnumber"  placeholder="Contact Number ">
    </div> 
     <div class="form-group">
      <label for="email">Email: *</label>
      <input type="text" style="width: 40%;" class="form-control"  id="email"  th:field="*{email}" placeholder="Enter Email">
        
   
    </div>
    
     <div class="form-group">
      <label for="gender">Gender:</label>
      <select style="width: 30%;"  class="form-control" th:field="*{gender}">
         <option value="Male">Male</option>
         <option value="Female;">Female</option>
        
      </select>
   
<br>
    <button type="submit" class="btn btn-primary">Add employee info</button>
    
     <a th:href="@{/customer/login}"> 
    <button type="button" class="btn btn-danger">Login</button>
    </a>
   
    
  </form>
  </div>
<!--  </div>
<footer  class="ffooter">
</footer> -->

</body>
</html>
